/**
  * General
**/

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}

.navbar-fixed {
    z-index: 9999;
}

.side-nav {
    margin-top: 128px;
    /*-webkit-transform: translateY(100%);
    transform: translateY(100%);*/
    /*margin-top: -10px;*/
}

/**
  * select2
**/

.select2 .selection .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #9e9e9e;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.select2-selection,
.select2-selection--single,
.select2-search__field,
.select2-results__option,
.select2-search,
.select2-search--dropdown {
    background-color: #fafafa !important;
}

/**
  * Toast
**/

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}

/**
  * Row
**/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#colorModalRow {
    background-color: #ddd;
    border-radius: 10px;
}
/*
.column {
    flex: 95%;
    max-width: 95%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}*/

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.context-menu-entity {
    display: none;
}

#entitySideNavBtnLi,
#entitySettingsNavBtnLi,
#right_col {
    display: none;
}

#entityExplanation {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 25px;
}

#wrap {
    width: 100%;
    margin: 25px;
}

#left_col {
    float: left;
    width: 25%;
}

#right_col {
    float: right;
    width: 75%;
}

.addEntityType {
    margin-bottom: 10px;
}

/**
  * Portlet
**/

/*.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
    min-height: 400px;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
*/
/**
  * Sortable
**/

/*#sortable {
    border: 1px solid #eee;
    width: 100%;
    min-height: 20px;
    list-style-type: none;
    padding: 5px 0 0 0;
}

#sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
}*/

/**
  * Konva
**/

/*.konvajs-content {
    height: 500px;
}*/

#dragAndDropContainer {
    background-color: #eff1f4;
}